{% extends "base.html" %}
{% block content %}
 
 <div class="list-group">
 <h1>Uusimmat arvostelut</h1>
  <a href="tsoha/suunnitelmat/kirves" class="list-group-item">
    <h4 class="list-group-item-heading">Kirves</h4>
    <p class="list-group-item-text">Oli tylsä, osui polveen.</p>
  </a>
  <a href="tsoha/suunnitelmat/kirves" class="list-group-item">
    <h4 class="list-group-item-heading">Kirves</h4>
    <p class="list-group-item-text">Oli tylsä, osui polveen.</p>
  </a>
  <a href="tsoha/suunnitelmat/kirves" class="list-group-item">
    <h4 class="list-group-item-heading">Kirves</h4>
    <p class="list-group-item-text">Oli tylsä, osui polveen.</p>
  </a>
  <a href="tsoha/suunnitelmat/kirves" class="list-group-item">
    <h4 class="list-group-item-heading">Kirves</h4>
    <p class="list-group-item-text">Oli tylsä, osui polveen.</p>
  </a>
</div>
{% endblock %}