{% extends "base.html" %}
{% block content %}
  <h2>Kirves</h2>
  <h4><i>Oli tylsä, osui polveen</i></h4>
  <p>
    Löysin mökiltä kirveen, mutta pahaksi onneksi se olikin tylsä. Halkoa hakatessa se sitten kimposi polveen. Kirottua! Tuli sairaalakeikka, ja nyt kävelen sauvoilla. Surkea laite, en suosittele. 0/5
  </p>
    <div>
      <a class="btn btn-info btn-xs" href="#">kirves</a> <a class="btn btn-info btn-xs" href="#">polvi</a> <a class="btn btn-info btn-xs" href="#">murhe</a>
    </div>
  <p style="margin-top:100">
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}