{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<h1>List of users</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Admin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for account in accounts %}
    <tr>
      <td><a href="{{base_path}}/user/{{account.id}}/edit">{{account.name}}</a></td>
      {% if account.admin %}
      <td><span class="badge badge-pill badge-success">Yes</span></td>
      {% else %}
      <td><span class="badge badge-pill badge-secondary">No</span></td>
      {% endif %}
      <th><a class="btn btn-primary btn-sm" href="{{base_path}}/user/{{account.id}}/reviews">Reviews</a></th>
      <th><a class="btn btn-warning btn-sm" href="{{base_path}}/user/{{account.id}}/edit">Edit</a></th>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}