{% extends "base.html" %}
{% block content %}


{% if message %}
<div class="alert alert-success">
	{{message}}
</div>
{% endif %}

<div class="list-group">
	<h1><a href="{{base_path}}/review/add" style="float: right;" class="btn btn-success">Create a review</a>Newest reviews</h1>
		<div>
			{% for review in reviews %}
			<a href="{{base_path}}/review/{{review.id}}/{{review.otsikko}}" class="list-group-item">
				<h4 class="list-group-item-heading">{{review.heading}}</h4>
				<p class="list-group-item-text">{{review.lead}}</p>
				<div class=
			</a>
			{% endfor %}
		</div>
		{% endblock %}