{% extends "base.html" %}
{% block content %}


{% if message %}
<div class="alert alert-success">
	{{message}}
</div>
{% endif %}

<h1><a href="{{base_path}}/review/add" style="float: right;" class="btn btn-success">Create a review</a>Newest reviews</h1>
<div class="card-columns">
	{% for review in reviews %}
	<a href="{{base_path}}/review/{{review.id}}/{{review.otsikko}}">
		<div class="card">
			<div class="card-header">{{review.heading}}</div>
			<img class="card-img-top img-fluid" src="{{review.image}}" alt="Card image cap">
			<div class="card-block">
				<p class="card-text">{{review.lead}}</p>
				<p class="card-text"><small class="text-muted">{{review.time_added}}</small></p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}